body {
  font-family: 'Montserrat';
  background: rgb(29, 185, 84);
  background: radial-gradient(circle, rgba(29, 185, 84, 1) 22%, rgba(18, 18, 18, 1) 83%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #212121;
}

.bg-gray {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

.text-lime {
  color: #1db954;
}

.glassmorphic-container {
  background: rgba(29, 185, 84, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.7px);
  -webkit-backdrop-filter: blur(13.7px);
  margin-top: 10vh;
  margin-bottom: 4vh;
}

.fa-star {
  color: #212121;
}

.selected {
  color: #1db954;
}

.profilePic {
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50vh;
  height: 50vh;
  border: 5px solid #1DB954;
  box-shadow: 0 0 0 5px #212121;
  background-color: #1DB954;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}