body {
  font-family: 'Montserrat';
  background-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

.text-lime {
  color: #1db954;
}